.Vue-Toastification__container {
  & .bottom-left {
    @include gt-sm {
      left: 32px;
    }

    @include lt-md {
      left: 12px;
    }
  }

  .toast {
    width: 292px;
    max-width: inherit;
    min-width: inherit;
    //min-height: inherit;

    padding: 12px 16px;
    backdrop-filter: saturate(180%) blur(4px);
    -webkit-backdrop-filter: saturate(180%) blur(4px);
    border-radius: 8px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);

    &--width-large {
      @include gt-sm {
        width: 344px;
      }

      @include lt-md {
        width: 290px;
      }
    }

    &--width-medium {
      width: 261px;
    }

    &--height-small {
      min-height: 48px;
      padding: 8px 12px;
    }

    &--theme-dark {
      color: #fff;
      background: rgb(0 0 0 / 40%);

      & .Vue-Toastification__progress-bar {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    &--theme-yellow {
      color: $color-dark-grey;
      background: #fddf76;
      backdrop-filter: blur(20px);
      -weblit-backdrop-filter: blur(20px);
    }
  }
}
