body {
  width: 100vw;
  font-style: normal;
  overflow-x: hidden;
}

body.no-scroll {
  height: 100vh;
  width: 100vw;
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.layout {
  margin: 0 auto;

  @include gt-md {
    max-width: 1080px;
  }

  @include gt-xs {
    padding: $gap-ds;
  }

  @include xs {
    padding: 12px 14px;
  }

  &--horizontal {
    @include gt-xs {
      padding: 0 $gap-ds;
    }

    @include xs {
      padding: 0 6px;
    }
  }

  &--horizontal-dt {
    @include gt-xs {
      padding: 0 $gap-ds;
    }

    @include xs {
      padding: 0;
    }
  }

  &--md {
    @include lt-md {
      padding: 0 12px;
    }
  }

  &__row {
    @include xs {
      padding: 0;
      margin: 0 -6px;
    }
  }
}

.absolute-grow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2 {
  font-family: $Literata;
  font-weight: 700;
}

h1 {
  letter-spacing: -0.01em;
  color: #0d072e;
  margin: 0 0 16px 0;

  @include gt-sm {
    font-size: 38px;
    line-height: 40px;
  }

  @include lt-sm {
    font-size: 24px;
    line-height: 24px;
  }
}

h2 {
  @include gt-sm {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 32px 0;
  }

  @include lt-md {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px 0;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: none;
}

svg {
  display: block;
}

figure {
  margin: 0;
}

input,
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.noscroll {
  overflow: hidden;
}
