body {
  width: 100vw;
  overflow-x: hidden;
}

.layout {
  max-width: 1080px;
  margin: 0 auto;

  @include gt-xs {
    padding: $gap-ds;
  }

  @include xs {
    padding: 0 14px;
  }

  &--horizontal {
    @include gt-xs {
      padding: 0 $gap-ds;
    }

    @include xs {
      padding: 0 6px;
    }
  }

  &--horizontal-dt {
    @include gt-xs {
      padding: 0 $gap-ds;
    }

    @include xs {
      padding: 0;
    }
  }

  &__row {
    @include xs {
      padding: 0;
      margin: 0 -6px;
    }
  }
}

.absolute-grow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: $Literata;
  letter-spacing: -0.01em;

  @include gt-xs {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    margin: 8px 0 16px;
  }

  @include xs {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03px;
    margin: 16px 0;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: none;
}

svg {
  display: block;
}

figure {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.noscroll {
  overflow: hidden;
}
