$golos-regular: 'Golos-Regular'; // 400
$golos-medium: 'Golos-Medium'; // 500
$golos-bold: 'Golos-DemiBold'; // 600
$golos-black: 'Golos-Black'; // 900
$lora: 'Lora',
serif;

$Literata: 'Literata',
serif;

$sana-black: 'sana-black';

$color-light-grey: #979797;
$color-white-grey: #7C7C7C;
$color-grey: #99A2AD;
$color-dark-grey: #1f2226;
$color-dark-green: #009959;
$color-green: #26AD4F;

$color-red: #D82F4B;
$color-pink: #ff217f;
$color-link-pink: #f63866;
$color-favorite: #F73866;

$bg-grey: #f7f7f7;
$bg-green: #EBFAF0;

$gap-ds: 24px;
$gap-mb: 16px;

$border-radius-ds: 24px;
$border-radius-mb: 16px;
