$golos-regular: 'Golos-Regular'; // 400
$golos-medium: 'Golos-Medium'; // 500
$golos-bold: 'Golos-DemiBold'; // 600
$golos-black: 'Golos-Black'; // 900
$lora: 'Lora', serif;

$Literata: 'Literata', serif;

$sana-black: 'sana-black';

$color-light-grey: #979797;
$color-white-grey: #7c7c7c;
$color-grey: #99a2ad;
$color-dark-grey: #1f2226;
$color-dark-green: #009959;
$color-green: #26ad4f;

$color-red: #d82f4b;
$color-pink: #ff217f;
$color-link-pink: #f63866;
$color-favorite: #f73866;
$color-like-active: #DB1838;

$bg-grey: #f7f7f7;
$bg-green: #ebfaf0;

$gap-ds: 24px;
$gap-mb: 16px;

$border-radius-ds: 24px;
$border-radius-mb: 16px;
