@font-face {
  font-family: 'Golos-Regular';
  src: url('../fonts/Golos-Text_Regular.woff2') format('woff2'), url('../fonts/Golos-Text_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos-Medium';
  src: url('../fonts/Golos-Text_Medium.woff2') format('woff2'), url('../fonts/Golos-Text_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Golos-Black';
  src: url('../fonts/Golos-Text_Black.woff2') format('woff2'), url('../fonts/Golos-Text_Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Golos-DemiBold';
  src: url('../fonts/Golos-Text_DemiBold.woff2') format('woff2'),
    url('../fonts/Golos-Text_DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'sana-black';
  src: url('../fonts/sana-black.eot');
  src: url('../fonts/sana-black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sana-black.woff2') format('woff2'), url('../fonts/sana-black.woff') format('woff'),
    url('../fonts/sana-black.ttf') format('truetype');
}
